@page "/pacientes"
@inject IPacienteService PacienteService
@inject NavigationManager NavigationManager

<PageTitle>Pacientes</PageTitle>

<MudText Typo="Typo.h5">Pacientes</MudText>
<br />

@if (PacienteService.Pacientes == null)
{
	<MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else if (PacienteService.Pacientes.Count == 0)
{
	<p><em>Nenhum paciente cadastrado.</em></p>
}
else
{
	<MudTable Items="PacienteService.Pacientes" Dense="true" Hover="true" FixedHeader="true" Height="250px">
		<HeaderContent>
			@foreach (var cabecalho in cabecalhos)
			{
				<MudTh>@cabecalho</MudTh>
			}
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Nome">@context.Nome</MudTd>
			<MudTd DataLabel="Data de Nascimento">@context.DataNascimento.Value.ToShortDateString() (@context.GetIdade() ano(s))</MudTd>
			<MudTd DataLabel="Telefone">@context.Telefone</MudTd>
			@if (@context.Genero.ToString() == "M")
			{
				<MudTd DataLabel="Gênero">Masculino</MudTd>
			}
			else
			{
				<MudTd DataLabel="Gênero">Feminino</MudTd>
			}
			<MudTd DataLabel="Editar">
				<MudIconButton Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" Icon="@Icons.Material.Rounded.Edit" Title="Editar" OnClick="(() => EditarPaciente(context.Id))" />
			</MudTd>
		</RowTemplate>
	</MudTable>
	<br />
	<MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.AddCircle" Color="Color.Primary" @onclick="AddPaciente">Adicionar</MudButton>
}
