@page "/paciente"
@page "/paciente/{id:int}"
@inject IPacienteService PacienteService

@if (Id == null)
{
	<PageTitle>Criar Paciente</PageTitle>
	<MudText Typo="Typo.h5">Adicionar Paciente</MudText>
}
else
{
	<PageTitle>Editar Paciente: @paciente.Nome</PageTitle>
	<MudText Typo="Typo.h5">Editar Paciente: @paciente.Nome</MudText>
}
<br />
<EditForm Model="paciente" OnValidSubmit="SubmeterAsync">
	<DataAnnotationsValidator />
	<div>
		<MudTextField Label="Nome" Variant="Variant.Outlined" Margin="Margin.Dense" Clearable="true" Immediate="true" Counter="300"
					  @bind-Value="paciente.Nome" For="@(() => paciente.Nome)" />
	</div>
	<div>
		<MudDatePicker Label="Data de Nascimento" Variant="Variant.Outlined" Margin="Margin.Dense" Editable="true" Mask="@(new DateMask("dd/MM/yyyy"))" DateFormat="dd/MM/yyyy"
					   @bind-Date="paciente.DataNascimento" For="@(() => paciente.DataNascimento)" />
	</div>
	<br />
	<div>
		<MudTextField Label="Telefone" Variant="Variant.Outlined" Margin="Margin.Dense" Clearable="true" Immediate="true" Counter="11"
					  @bind-Value="paciente.Telefone" For="@(() => paciente.Telefone)" />
	</div>
	<div>
		<label for="genero">Gênero</label><br />
		<MudRadioGroup @bind-SelectedOption="paciente.Genero">
			@foreach (var genero in generos)
			{
				<MudRadio Option="genero.Id" Color="Color.Primary" Dense="true" Size="Size.Small">@genero.Descricao</MudRadio>
			}
		</MudRadioGroup>
	</div>
	<br />
	<MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.Save" Color="Color.Primary" ButtonType="ButtonType.Submit">@btnText</MudButton>&nbsp;
	@if (Id != null)
	{
		<MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.Delete" Color="Color.Error" @onclick="DeletePacienteAsync">Excluir</MudButton>
	}
</EditForm>
