@page "/pacientes"
@inject IPacienteService PacienteService
@inject NavigationManager NavigationManager

<PageTitle>Pacientes</PageTitle>

<MudText Typo="Typo.h5">Pacientes</MudText>
<br />

@if (PacienteService.Pacientes == null)
{
	<MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else if (PacienteService.Pacientes.Count == 0)
{
	<p><em>Nenhum paciente cadastrado.</em></p>
}
else
{
	<MudSimpleTable Dense="true" Hover="true" FixedHeader="true" Style="height:260px;">
		<thead>
			<tr>
				@foreach (var cabecalho in cabecalhos)
				{
					<th>@cabecalho</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var paciente in PacienteService.Pacientes)
			{
				<tr>
					<td>@paciente.Nome</td>
					<td>@paciente.DataNascimento.Value.ToShortDateString() (@paciente.GetIdade() ano(s))</td>
					<td>@paciente.Telefone</td>
					@if (@paciente.Genero.ToString() == "M")
					{
						<td>Masculino</td>
					}
					else
					{
						<td>Feminino</td>
					}
					<td>
						<MudButton Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" @onclick="(() => EditarPaciente(paciente.Id))">
							<MudIcon Icon="@Icons.Material.Rounded.Edit" Title="Editar" />
						</MudButton>
					</td>
				</tr>
			}
		</tbody>
	</MudSimpleTable>
	<br />
	<MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.AddCircle" Color="Color.Primary" @onclick="AddPaciente">Adicionar</MudButton>
}

@code {
	string[] cabecalhos = { "Nome", "Data de Nascimento", "Telefone", "Gênero", "" };

	protected override async Task OnInitializedAsync()
	{
		await PacienteService.GetAllPacientesAsync();
	}

	void EditarPaciente(int id)
	{
		NavigationManager.NavigateTo($"paciente/{id}");
	}

	void AddPaciente()
	{
		NavigationManager.NavigateTo("paciente");
	}
}
